body{
    background-color: white;
    font-family: "Roboto", "Arial", sans-serif;

    
}
.navbar{
    display: flex;
    justify-content: space-between;
   


}
.firsthead{
    display: flex;   
}
.yt{
    position: absolute;
    margin-top: 15px;
    margin-left: 40px;
}
#bar{
    font-size: 20px;
    margin-top: 16px;
    margin-right: 15px;
    opacity: 0.6;
    margin-left: 10px;
    position: absolute;
}


#search{
    height: 50px;
    border: 1px solid gold;
    width: 500px;
    background-color: white;
    border-radius: 30px 0px 0px 30px ;
    

    
}
.se{
    display: flex;
}
.mag{
    border:1px solid gold;
    width: 70px;
    height: 50px;
    border-radius: 0px 30px 30px 0px;
}
.create{
    border: 1px solid grey;
    border-radius: 30px;
    width: 100px;
    height: 40px;
    margin-top: 5px;
    margin-right: 10px;
    
}
#gonta{
    font-size:x-large;  
    padding: 10px;
}
.lasthead{
    display: flex;
}
.logo{
    display: flex;
}
.sidebar{
    margin-top: 10px;
    width: 300px;
    height: 100vh;
    background-color: white;
    overflow: scroll;
    position: absolute;
}
.sidebar>ul>li{
    display: flex;
    padding: 10px;
}
.sidebar>ul>li>a{
    text-decoration: none;
    padding-left: 20px;
    color: black;
    
}

.sidebar>ul{
    margin: 0;
    padding: 0;
}
#arrow{
    margin-top: 18px;
    margin-left: 7px;
}
.headbar{
    margin-left: 320px;
    position: absolute;
    margin-top: 20px;
    display: flex;
    position:sticky;
}
.headbar button{
    font-weight: 600;
    border: 1px solid whitesmoke;
    border-radius:5px ;
    padding: 5px;
    margin: 2px;
    height: 36px;
    
}
/* .card{
    height: 200px;
    width: 400px;
    background-color: blue;
} */
#lower-body{
    height: 900px;
    width: 100%;
    margin-top: 30px;
    /* border: 1px solid black; */
    display:grid;
    grid-template-columns: repeat(3,1fr);
    overflow: scroll;
    gap: 20px;
    
}
.video{
    height: 350px;
    width: 500px;
    gap: 5px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 300px;
    /* margin-left: 300px; */
    
}

.video>img{
    width: 100%;
    object-fit: cover;
    height: 70%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



